
@for $i from 1 through 24 {
    .diygw-col-#{$i} {
      width: (1 / 24 * $i * 100) * 1% !important;
    }
  
    .diygw-col-offset-#{$i} {
      margin-left: (1 / 24 * $i * 100) * 1%;
    }
  
    .diygw-col-pull-#{$i} {
      position: relative;
      right: (1 / 24 * $i * 100) * 1%;
    }
  
    .diygw-col-push-#{$i} {
      position: relative;
      left: (1 / 24 * $i * 100) * 1%;
    }
}
