@font-face {
  font-family: 'diygwui';  /* Project id 2852989 */
  src: url('//at.alicdn.com/t/font_2852989_zynoab19va.woff2?t=1638777669423') format('woff2'),
       url('//at.alicdn.com/t/font_2852989_zynoab19va.woff?t=1638777669423') format('woff'),
       url('//at.alicdn.com/t/font_2852989_zynoab19va.ttf?t=1638777669423') format('truetype'),
       url('//at.alicdn.com/t/font_2852989_zynoab19va.svg?t=1638777669423#diygwui') format('svg');
}

.diygwui {
  font-family: "diygwui" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.diy-icon-star:before {
  content: "\e7df";
}

.diy-icon-starfill:before {
  content: "\e86a";
}

.diy-icon-writefill:before {
  content: "\e600";
}

.diy-icon-jiaonang:before {
  content: "\e76d";
}

.diy-icon-shop:before {
  content: "\e736";
}

.diy-icon-shopfill:before {
  content: "\e737";
}

.diy-icon-pullright:before {
  content: "\e738";
}

.diy-icon-settings:before {
  content: "\e739";
}

.diy-icon-similar:before {
  content: "\e73a";
}

.diy-icon-sort:before {
  content: "\e73b";
}

.diy-icon-sound:before {
  content: "\e73c";
}

.diy-icon-skinfill:before {
  content: "\e73d";
}

.diy-icon-skin:before {
  content: "\e73e";
}

.diy-icon-stop:before {
  content: "\e73f";
}

.diy-icon-squarecheckfill:before {
  content: "\e740";
}

.diy-icon-square:before {
  content: "\e741";
}

.diy-icon-tag:before {
  content: "\e742";
}

.diy-icon-add:before {
  content: "\e643";
}

.diy-icon-subscription:before {
  content: "\e743";
}

.diy-icon-activityfill:before {
  content: "\e644";
}

.diy-icon-squarecheck:before {
  content: "\e744";
}

.diy-icon-addressbook:before {
  content: "\e645";
}

.diy-icon-taoxiaopu:before {
  content: "\e745";
}

.diy-icon-album:before {
  content: "\e646";
}

.diy-icon-taxi:before {
  content: "\e746";
}

.diy-icon-all:before {
  content: "\e647";
}

.diy-icon-text:before {
  content: "\e747";
}

.diy-icon-appreciate:before {
  content: "\e648";
}

.diy-icon-sponsorfill:before {
  content: "\e748";
}

.diy-icon-activity:before {
  content: "\e649";
}

.diy-icon-time:before {
  content: "\e749";
}

.diy-icon-attentionfavor:before {
  content: "\e64a";
}

.diy-icon-tagfill:before {
  content: "\e74a";
}

.diy-icon-attention:before {
  content: "\e64b";
}

.diy-icon-timefill:before {
  content: "\e74b";
}

.diy-icon-apps:before {
  content: "\e64c";
}

.diy-icon-title:before {
  content: "\e74c";
}

.diy-icon-attentionfill:before {
  content: "\e64d";
}

.diy-icon-ticket:before {
  content: "\e74d";
}

.diy-icon-attentionfavorfill:before {
  content: "\e64e";
}

.diy-icon-triangledownfill:before {
  content: "\e74e";
}

.diy-icon-attentionforbidfill:before {
  content: "\e64f";
}

.diy-icon-triangleupfill:before {
  content: "\e74f";
}

.diy-icon-baby:before {
  content: "\e650";
}

.diy-icon-top:before {
  content: "\e750";
}

.diy-icon-backdelete:before {
  content: "\e651";
}

.diy-icon-unlock:before {
  content: "\e751";
}

.diy-icon-back_android:before {
  content: "\e652";
}

.diy-icon-upblock:before {
  content: "\e752";
}

.diy-icon-babyfill:before {
  content: "\e653";
}

.diy-icon-upload:before {
  content: "\e753";
}

.diy-icon-back:before {
  content: "\e654";
}

.diy-icon-titles:before {
  content: "\e754";
}

.diy-icon-brand:before {
  content: "\e655";
}

.diy-icon-unfold:before {
  content: "\e755";
}

.diy-icon-barcode:before {
  content: "\e656";
}

.diy-icon-usefull:before {
  content: "\e756";
}

.diy-icon-brandfill:before {
  content: "\e657";
}

.diy-icon-upstagefill:before {
  content: "\e757";
}

.diy-icon-backwardfill:before {
  content: "\e658";
}

.diy-icon-upstage:before {
  content: "\e758";
}

.diy-icon-btn:before {
  content: "\e659";
}

.diy-icon-vip:before {
  content: "\e759";
}

.diy-icon-cai:before {
  content: "\e65a";
}

.diy-icon-video:before {
  content: "\e75a";
}

.diy-icon-calendar:before {
  content: "\e65b";
}

.diy-icon-videofill:before {
  content: "\e75b";
}

.diy-icon-camerafill1:before {
  content: "\e65c";
}

.diy-icon-vipcard:before {
  content: "\e75c";
}

.diy-icon-bad:before {
  content: "\e65d";
}

.diy-icon-voice:before {
  content: "\e75d";
}

.diy-icon-cameraaddfill:before {
  content: "\e65e";
}

.diy-icon-warn:before {
  content: "\e75e";
}

.diy-icon-camera:before {
  content: "\e65f";
}

.diy-icon-warnfill:before {
  content: "\e75f";
}

.diy-icon-appreciatefill:before {
  content: "\e660";
}

.diy-icon-voicefill:before {
  content: "\e760";
}

.diy-icon-camerarotate:before {
  content: "\e661";
}

.diy-icon-weibo:before {
  content: "\e761";
}

.diy-icon-card:before {
  content: "\e662";
}

.diy-icon-usefullfill:before {
  content: "\e762";
}

.diy-icon-camerafill:before {
  content: "\e663";
}

.diy-icon-wefill:before {
  content: "\e763";
}

.diy-icon-attentionforbid:before {
  content: "\e664";
}

.diy-icon-weixin:before {
  content: "\e764";
}

.diy-icon-cardboard:before {
  content: "\e665";
}

.diy-icon-we:before {
  content: "\e765";
}

.diy-icon-cardboardfill:before {
  content: "\e666";
}

.diy-icon-wenzi:before {
  content: "\e766";
}

.diy-icon-cardboardforbid:before {
  content: "\e667";
}

.diy-icon-weblock:before {
  content: "\e767";
}

.diy-icon-choicenessfill:before {
  content: "\e668";
}

.diy-icon-wifi:before {
  content: "\e768";
}

.diy-icon-choiceness:before {
  content: "\e669";
}

.diy-icon-weunblock:before {
  content: "\e769";
}

.diy-icon-cartfill:before {
  content: "\e66a";
}

.diy-icon-write:before {
  content: "\e76a";
}

.diy-icon-cart:before {
  content: "\e66b";
}

.diy-icon-check:before {
  content: "\e66c";
}

.diy-icon-sponsor:before {
  content: "\e76c";
}

.diy-icon-cascades:before {
  content: "\e66d";
}

.diy-icon-cameraadd:before {
  content: "\e66e";
}

.diy-icon-circle:before {
  content: "\e66f";
}

.diy-icon-circlefill:before {
  content: "\e670";
}

.diy-icon-clothes:before {
  content: "\e671";
}

.diy-icon-colorlens:before {
  content: "\e672";
}

.diy-icon-clothesfill:before {
  content: "\e673";
}

.diy-icon-close:before {
  content: "\e674";
}

.diy-icon-commandfill:before {
  content: "\e675";
}

.diy-icon-comment:before {
  content: "\e676";
}

.diy-icon-command:before {
  content: "\e677";
}

.diy-icon-coin:before {
  content: "\e678";
}

.diy-icon-commentfill:before {
  content: "\e679";
}

.diy-icon-countdownfill:before {
  content: "\e67a";
}

.diy-icon-communityfill:before {
  content: "\e67b";
}

.diy-icon-community:before {
  content: "\e67c";
}

.diy-icon-copy:before {
  content: "\e67d";
}

.diy-icon-countdown:before {
  content: "\e67e";
}

.diy-icon-deletefill:before {
  content: "\e67f";
}

.diy-icon-creativefill:before {
  content: "\e680";
}

.diy-icon-crown:before {
  content: "\e681";
}

.diy-icon-crownfill:before {
  content: "\e682";
}

.diy-icon-deliver:before {
  content: "\e683";
}

.diy-icon-delete:before {
  content: "\e684";
}

.diy-icon-deliver_fill:before {
  content: "\e685";
}

.diy-icon-creative:before {
  content: "\e686";
}

.diy-icon-cut:before {
  content: "\e687";
}

.diy-icon-dianhua:before {
  content: "\e688";
}

.diy-icon-discoverfill:before {
  content: "\e689";
}

.diy-icon-discover:before {
  content: "\e68a";
}

.diy-icon-edit:before {
  content: "\e68b";
}

.diy-icon-emoji:before {
  content: "\e68c";
}

.diy-icon-emojifill:before {
  content: "\e68d";
}

.diy-icon-ellipse:before {
  content: "\e68e";
}

.diy-icon-down:before {
  content: "\e68f";
}

.diy-icon-evaluate_fill:before {
  content: "\e690";
}

.diy-icon-emojiflashfill:before {
  content: "\e691";
}

.diy-icon-explore:before {
  content: "\e692";
}

.diy-icon-exit:before {
  content: "\e693";
}

.diy-icon-female:before {
  content: "\e694";
}

.diy-icon-favorfill:before {
  content: "\e695";
}

.diy-icon-evaluate:before {
  content: "\e696";
}

.diy-icon-explorefill:before {
  content: "\e697";
}

.diy-icon-expressman:before {
  content: "\e698";
}

.diy-icon-flashlightclose:before {
  content: "\e699";
}

.diy-icon-file:before {
  content: "\e69a";
}

.diy-icon-flashbuyfill:before {
  content: "\e69b";
}

.diy-icon-filter:before {
  content: "\e69c";
}

.diy-icon-favor:before {
  content: "\e69d";
}

.diy-icon-flashlightopen:before {
  content: "\e69e";
}

.diy-icon-fold:before {
  content: "\e69f";
}

.diy-icon-font:before {
  content: "\e6a0";
}

.diy-icon-focus:before {
  content: "\e6a1";
}

.diy-icon-fork:before {
  content: "\e6a2";
}

.diy-icon-footprint:before {
  content: "\e6a3";
}

.diy-icon-forwardfill:before {
  content: "\e6a4";
}

.diy-icon-forward:before {
  content: "\e6a5";
}

.diy-icon-formfill:before {
  content: "\e6a6";
}

.diy-icon-friendadd:before {
  content: "\e6a7";
}

.diy-icon-friendaddfill:before {
  content: "\e6a8";
}

.diy-icon-friendfamous:before {
  content: "\e6a9";
}

.diy-icon-friendfill:before {
  content: "\e6aa";
}

.diy-icon-friend:before {
  content: "\e6ab";
}

.diy-icon-full:before {
  content: "\e6ac";
}

.diy-icon-form:before {
  content: "\e6ad";
}

.diy-icon-github:before {
  content: "\e6ae";
}

.diy-icon-goods:before {
  content: "\e6af";
}

.diy-icon-global:before {
  content: "\e6b0";
}

.diy-icon-goodsnewfill:before {
  content: "\e6b1";
}

.diy-icon-goodsnew:before {
  content: "\e6b2";
}

.diy-icon-game:before {
  content: "\e6b3";
}

.diy-icon-goodsfill:before {
  content: "\e6b4";
}

.diy-icon-group:before {
  content: "\e6b5";
}

.diy-icon-group_fill:before {
  content: "\e6b6";
}

.diy-icon-homefill:before {
  content: "\e6b7";
}

.diy-icon-goodsfavor:before {
  content: "\e6b8";
}

.diy-icon-home:before {
  content: "\e6b9";
}

.diy-icon-hot:before {
  content: "\e6ba";
}

.diy-icon-friendfavor:before {
  content: "\e6bb";
}

.diy-icon-icon:before {
  content: "\e6bc";
}

.diy-icon-hotfill:before {
  content: "\e6bd";
}

.diy-icon-icloading:before {
  content: "\e6be";
}

.diy-icon-keyboard:before {
  content: "\e6bf";
}

.diy-icon-light:before {
  content: "\e6c0";
}

.diy-icon-info:before {
  content: "\e6c1";
}

.diy-icon-infofill:before {
  content: "\e6c2";
}

.diy-icon-lightfill:before {
  content: "\e6c3";
}

.diy-icon-lightforbid:before {
  content: "\e6c4";
}

.diy-icon-like:before {
  content: "\e6c5";
}

.diy-icon-lightauto:before {
  content: "\e6c6";
}

.diy-icon-list:before {
  content: "\e6c7";
}

.diy-icon-loading1:before {
  content: "\e6c8";
}

.diy-icon-likefill:before {
  content: "\e6c9";
}

.diy-icon-loading:before {
  content: "\e6ca";
}

.diy-icon-link:before {
  content: "\e6cb";
}

.diy-icon-location:before {
  content: "\e6cc";
}

.diy-icon-locationfill:before {
  content: "\e6cd";
}

.diy-icon-magic:before {
  content: "\e6ce";
}

.diy-icon-lock:before {
  content: "\e6cf";
}

.diy-icon-mail:before {
  content: "\e6d0";
}

.diy-icon-mark:before {
  content: "\e6d1";
}

.diy-icon-medalfill:before {
  content: "\e6d2";
}

.diy-icon-markfill:before {
  content: "\e6d3";
}

.diy-icon-medal:before {
  content: "\e6d4";
}

.diy-icon-mobile:before {
  content: "\e6d5";
}

.diy-icon-male:before {
  content: "\e6d6";
}

.diy-icon-mobilefill:before {
  content: "\e6d7";
}

.diy-icon-more:before {
  content: "\e6d8";
}

.diy-icon-message:before {
  content: "\e6d9";
}

.diy-icon-loading2:before {
  content: "\e6da";
}

.diy-icon-move:before {
  content: "\e6db";
}

.diy-icon-musicfill:before {
  content: "\e6dc";
}

.diy-icon-musicforbidfill:before {
  content: "\e6dd";
}

.diy-icon-messagefill:before {
  content: "\e6de";
}

.diy-icon-moneybagfill:before {
  content: "\e6df";
}

.diy-icon-moreandroid:before {
  content: "\e6e0";
}

.diy-icon-moneybag:before {
  content: "\e6e1";
}

.diy-icon-news:before {
  content: "\e6e2";
}

.diy-icon-newfill:before {
  content: "\e6e3";
}

.diy-icon-my:before {
  content: "\e6e4";
}

.diy-icon-new:before {
  content: "\e6e5";
}

.diy-icon-myfill:before {
  content: "\e6e6";
}

.diy-icon-newshotfill:before {
  content: "\e6e7";
}

.diy-icon-newshot:before {
  content: "\e6e8";
}

.diy-icon-notice_forbid_fill:before {
  content: "\e6e9";
}

.diy-icon-newsfill:before {
  content: "\e6ea";
}

.diy-icon-notificationfill:before {
  content: "\e6eb";
}

.diy-icon-notice:before {
  content: "\e6ec";
}

.diy-icon-notification:before {
  content: "\e6ed";
}

.diy-icon-noticefill:before {
  content: "\e6ee";
}

.diy-icon-order:before {
  content: "\e6ef";
}

.diy-icon-paintfill:before {
  content: "\e6f0";
}

.diy-icon-notificationforbidfill:before {
  content: "\e6f1";
}

.diy-icon-peoplefill:before {
  content: "\e6f2";
}

.diy-icon-paint:before {
  content: "\e6f3";
}

.diy-icon-peoplelist:before {
  content: "\e6f4";
}

.diy-icon-pay:before {
  content: "\e6f5";
}

.diy-icon-phone:before {
  content: "\e6f6";
}

.diy-icon-picfill:before {
  content: "\e6f7";
}

.diy-icon-pick:before {
  content: "\e6f8";
}

.diy-icon-pic:before {
  content: "\e6f9";
}

.diy-icon-post:before {
  content: "\e6fa";
}

.diy-icon-play_forward_fill:before {
  content: "\e6fb";
}

.diy-icon-present:before {
  content: "\e6fc";
}

.diy-icon-people:before {
  content: "\e6fd";
}

.diy-icon-playfill:before {
  content: "\e6fe";
}

.diy-icon-profile:before {
  content: "\e6ff";
}

.diy-icon-profilefill:before {
  content: "\e700";
}

.diy-icon-pulldown:before {
  content: "\e701";
}

.diy-icon-presentfill:before {
  content: "\e702";
}

.diy-icon-pullleft:before {
  content: "\e703";
}

.diy-icon-pullup:before {
  content: "\e704";
}

.diy-icon-punch:before {
  content: "\e705";
}

.diy-icon-questionfill:before {
  content: "\e706";
}

.diy-icon-radiobox:before {
  content: "\e707";
}

.diy-icon-question:before {
  content: "\e708";
}

.diy-icon-rank:before {
  content: "\e709";
}

.diy-icon-qrcode:before {
  content: "\e70a";
}

.diy-icon-rankfill:before {
  content: "\e70b";
}

.diy-icon-radioboxfill:before {
  content: "\e70c";
}

.diy-icon-qr_code:before {
  content: "\e70d";
}

.diy-icon-recordfill:before {
  content: "\e70e";
}

.diy-icon-record:before {
  content: "\e70f";
}

.diy-icon-read:before {
  content: "\e710";
}

.diy-icon-recharge:before {
  content: "\e711";
}

.diy-icon-refresh:before {
  content: "\e712";
}

.diy-icon-redpacket:before {
  content: "\e713";
}

.diy-icon-rechargefill:before {
  content: "\e714";
}

.diy-icon-redpacket_fill:before {
  content: "\e715";
}

.diy-icon-refresharrow:before {
  content: "\e716";
}

.diy-icon-refund:before {
  content: "\e717";
}

.diy-icon-round:before {
  content: "\e718";
}

.diy-icon-repeal:before {
  content: "\e719";
}

.diy-icon-right:before {
  content: "\e71a";
}

.diy-icon-repair:before {
  content: "\e71b";
}

.diy-icon-remind:before {
  content: "\e71c";
}

.diy-icon-repairfill:before {
  content: "\e71d";
}

.diy-icon-roundadd:before {
  content: "\e71e";
}

.diy-icon-roundaddfill:before {
  content: "\e71f";
}

.diy-icon-roundcheckfill:before {
  content: "\e720";
}

.diy-icon-rounddown:before {
  content: "\e721";
}

.diy-icon-roundclose:before {
  content: "\e722";
}

.diy-icon-roundleftfill-copy:before {
  content: "\e723";
}

.diy-icon-roundcheck:before {
  content: "\e724";
}

.diy-icon-roundright:before {
  content: "\e725";
}

.diy-icon-safe:before {
  content: "\e726";
}

.diy-icon-roundrightfill:before {
  content: "\e727";
}

.diy-icon-roundclosefill:before {
  content: "\e728";
}

.diy-icon-same:before {
  content: "\e729";
}

.diy-icon-samefill:before {
  content: "\e72a";
}

.diy-icon-searchlist:before {
  content: "\e72b";
}

.diy-icon-search:before {
  content: "\e72c";
}

.diy-icon-scan:before {
  content: "\e72d";
}

.diy-icon-send:before {
  content: "\e72e";
}

.diy-icon-selectionfill:before {
  content: "\e72f";
}

.diy-icon-selection:before {
  content: "\e730";
}

.diy-icon-settingsfill:before {
  content: "\e731";
}

.diy-icon-service:before {
  content: "\e732";
}

.diy-icon-shake:before {
  content: "\e733";
}

.diy-icon-servicefill:before {
  content: "\e734";
}

.diy-icon-share:before {
  content: "\e735";
}

